In [2]:
print("Rama", "Saesha", "Maheer", )

Rama Saesha Maheer

In [5]:
message = "is a great friend"
print("Rama", message)
print("Saesha", message)
print("Maheer", message)

Rama is a great friend
Saesha is a great friend
Maheer is a great friend

In [6]:
car = "BMW, Porche, Range Rover" 
print( "I would like to have a:", car)

I would like to have a: BMW, Porche, Range Rover

In [12]:
guestlist = "Michelle Obama" , "Hellen Keller" , "Beyonce"
print(guestlist[0], "please come to my dinner party?")
print(guestlist[1], "please come to my dinner party?")
print(guestlist[2], "please come to my dinner party?")

Michelle Obama please come to my dinner party?
Hellen Keller please come to my dinner party?
Beyonce please come to my dinner party?

In [18]:
guestlist.insert(-0,"Queen Elizabeth")

AttributeError: 'tuple' object has no attribute 'insert'

In [9]:
locations=['Thailand', 'China', 'Dubai', 'Boston', 'London']
print(locations)

['Thailand', 'China', 'Dubai', 'Boston', 'London']

In [10]:
print(sorted(locations))
print(locations)

['Boston', 'China', 'Dubai', 'London', 'Thailand']
['Thailand', 'China', 'Dubai', 'Boston', 'London']

In [11]:
print(sorted(locations, reverse=True))
print(locations)

['Thailand', 'London', 'Dubai', 'China', 'Boston']
['Thailand', 'China', 'Dubai', 'Boston', 'London']

In [12]:
print(locations)
(locations.reverse())
print(locations)

['Thailand', 'China', 'Dubai', 'Boston', 'London']
['London', 'Boston', 'Dubai', 'China', 'Thailand']

In [13]:
print(sorted(locations))
print(sorted(locations, reverse=True))

['Boston', 'China', 'Dubai', 'London', 'Thailand']
['Thailand', 'London', 'Dubai', 'China', 'Boston']